@{
    ViewData["Title"] = "Admin Login";
	Layout = "~/Areas/Admin/Views/Shared/_AuthLayout.cshtml";
}

 <main class="page-auth">
            <div class="page-auth__center">
                <div class="page-auth__screen">
                    <div class="auth-logo">
                        <img class="auth-logo__icon" src="/admin/img/content/logotype.svg" width="44" alt="#" />
                        <div class="auth-logo__text">arion</div>
                    </div>
                    <img class="page-auth__screen-bg auth-bg-image-light" src="/admin/img/content/auth-bg.jpg" alt="#">
                    <img class="page-auth__screen-bg auth-bg-image-dark" src="/admin/img/content/auth-bg-dark.jpg" alt="#">
                </div>
                <div class="auth-card card">
                    <div class="card__wrapper">
                        <div class="auth-card__left">
                            <div class="auth-card__logo">
                                <div class="auth-logo">
                                    <img class="auth-logo__icon" src="/admin/img/content/logotype.svg" width="44" alt="#" />
                                    <div class="auth-logo__text">arion</div>
                                </div>
                            </div>
                            <img class="auth-card__bg auth-bg-image-light" src="/admin/img/content/auth-bg.jpg" alt="#">
                            <img class="auth-card__bg auth-bg-image-dark" src="/admin/img/content/auth-bg-dark.jpg" alt="#">
                        </div>
                        <form class="auth-card__right"  method="post" asp-action="login" asp-controller="account" asp-area="admin">
                            <div class="auth-card__top">
                                <h1 class="auth-card__title">Welcome to <span class="text-theme">LIMS</span></h1>
                                <p class="auth-card__text">Welcome Back, Please login
                                    <br>to your account.
                                </p>
                            </div>
                            <div class="auth-card__body">
                                <div class="form-group">
                                    <div class="input-group input-group--prepend"><span class="input-group__prepend">
                                            <svg class="icon-icon-user">
                                                <use xlink:href="#icon-user"></use>
                                            </svg></span>
                                        <input class="input" type="email" name="Email" value="root@gmail.com" required>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <div class="input-group input-group--prepend"><span class="input-group__prepend">
                                            <svg class="icon-icon-password">
                                                <use xlink:href="#icon-password"></use>
                                            </svg></span>
                                        <input class="input" type="password" name="Password" value="Abc123!@@#" required>
                                    </div>
                                </div>
                                <div class="row align-items-center">
                                    <div class="col">
                                        <div class="form-group">
                                            <div class="input-group input-group--prepend">
                                                <label class="checkbox">
                                                    <input type="checkbox" checked><span class="checkbox__marker"><span
                                                            class="checkbox__marker-icon"><svg viewBox="0 0 14 12">
                                                                <path
                                                                    d="M11.7917 1.2358C12.0798 1.53914 12.0675 2.01865 11.7642 2.30682L5.7036 8.06439C5.40574 8.34735 4.93663 8.34134 4.64613 8.05084L2.22189 5.6266C1.92604 5.33074 1.92604 4.85107 2.22189 4.55522C2.51774 4.25937 2.99741 4.25937 3.29326 4.55522L5.19538 6.45734L10.7206 1.20834C11.024 0.920164 11.5035 0.93246 11.7917 1.2358Z" />
                                                            </svg></span></span><span
                                                        class="d-inline-block ml-2">Remember Me</span>
                                                </label>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-auto">
                                        <div class="form-group"><a class="text-blue" href="auth-forgot.html">Forgot
                                                Password?</a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="auth-card__bottom">
                                <div class="auth-card__buttons">
                                    @*<div class="auth-card__button"><a class="button button--secondary button--block"
                                            href="auth-create.html"><span class="button__text">Sign Up</span></a>
                                    </div>*@
                                    <div class="auth-card__button">
                                        <button class="button button--primary button--block" type="submit"><span
                                                class="button__text">Login</span>
                                        </button>
                                    </div>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </main>